<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda De LargoPhone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header>
        <nav>
            <a href=""> Inicio </a>
            <a href="#nosotros"> Sobre Nosotros </a>
            <a href="{{ url_for('catalogo') }}"> Catalogo </a>
            <a href="#contacto"> Contacto </a>
        </nav>
        <div class="auth-buttons">
            {% if current_user.is_authenticated %}
                {% if current_user.rol.name == 'administrador' %}
                    <a href="{{ url_for('dashboard') }}"> Dashboard </a>
                {% endif %}
                <a href="{{ url_for('logout') }}"> Cerrar Sesión </a>
            {% else %}
                <a href="{{ url_for('login') }}"> Iniciar Sesión </a>
                <a href="{{ url_for('register') }}"> Registrarse </a>
            {% endif %}
        </div>

    </header>
    <!-- Hero -->
    <section class="hero">
        <h1>Bienvenido a la tienda de largophone<br>
            Precios a alcance de tu bolsillo</h1>
    </section>

    <!-- Sobre Nosotros -->
    <section class="section">
        <h2>Sobre Nosotros</h2>
        <p>En Tienda De LargoPhone, nos dedicamos a ofrecerte los mejores
            teléfonos móviles a precios accesibles. Nuestra misión es
            brindarte calidad y tecnología al alcance de tu mano.</p>
    </section>

    <!-- Catalogo -->
    <section class="section" id="catalogo" style="background-color: #e6e6e6 ;">
        <h2>Catalogo</h2>
        <div class="catalogo">
            <!-- Productos 01 -->
             <div class="producto1">
                <img scr="https://www.iprostore.com.pe/web/image/product.product/1800/image_1024/%5BMYED3BE-A%5D%20MYED3BE-A%20IPHONE%2016%20128GB%20-%20TEAL?unique=4f735de" alt="">

                <h3>Nombre del producto</h3>
                <p>Descripción del producto</p>
                <p class="precio">$000.00</p>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
            <!-- Productos 02 -->
            <div class="producto">
                <img scr="" alt="">
                <h3>Nombre del producto</h3>
                <p>Descripción del producto</p>
                <p class="precio">$000.00</p>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
            <!-- Productos 03 -->
            <div class="producto">
                <img scr="" alt="">
                <h3>Nombre del producto</h3>
                <p>Descripción del producto</p>
                <p class="precio">$000.00</p>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
            <!-- Productos 04 -->
            <div class="producto">
                <img scr="" alt="">
                <h3>Nombre del producto</h3>
                <p>Descripción del producto</p>
                <p class="precio">$000.00</p>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
            <!-- Productos 05 -->
            <div class="producto">
                <img scr="" alt="">
                <h3>Nombre del producto</h3>
                <p>Descripción del producto</p>
                <p class="precio">$000.00</p>
                <a href="#" class="btn">Agregar al carrito</a>
            </div>
    </section>


    <!-- Contacto -->
    <section class="contacto" id="contacto">
        <h2>Contactanos</h2>
        <p> <i class="fa-solid fa-location-dot" style="color: #141414;"></i>Dirección: Av. La Mar N°2275, Tda. 164 San Miguel C.C. ShoppingCenter     <br>
            <i class="fa-solid fa-phone-volume" style="color: #141414;"></i> Teléfono: +51 999999999  <br>
            <i class="fa-solid fa-envelope" style="color: #141414;"></i> Correo: <a href="mailto:info@largophone.com">info@largophone.com</a></p>

            <br>
        <!-- Redes Sociales -->
            <div class="social-icons">
                <a href="" target="_blank"><i class="fa-brands fa-instagram fa-2xl" style="color: #ffffff"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-twitter fa-2xl" style="color: #ffffff"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-youtube fa-2xl" style="color: #ffffff"></i></a>

            </div>

    </section>


    <!-- Footer -->
    <footer>
        <p>© 2025 Tienda De LargoPhone. Todos los derechos reservados.</p>

    </footer>
</body>

</html>